body {
    background-color: rgb(240, 248, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#logout-form {
  display: inline;
}
#logout-form button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  text-decoration: underline;
}
